body{
    border: 0px;
    padding: 0px;
    background-color: #9ab3e5;
}
header{
    font-family: 'Righteous', cursive, sans-serif;
}
header nav{
    width: 100%;
    height: 80px;
    border-radius: 8px;
    background-color: rgba(52, 102, 203, 0.8);;
    line-height: 80px;
}
nav ul{
    float: right;
    margin: 0px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: #050a15;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 20px;
}
span{
    float: left;
    letter-spacing: 5px;
    margin-left: 20px;
    margin-top: -20px;
}
span a{
    text-decoration: none;
    color: #050a15;
    text-shadow: 2px 2px #6e91dd;
    font-weight: bold;
}
nav ul li:hover{
    background-color: #2d59b9;
    color: #000;
}
section{
    margin-top: 15%;
    text-align: center;
}
input{
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
}
input[type=text]{
    width: 30%;
    background-color: #c1d0f0;
    border: 2px solid #2d59b9;
    font-size: 0.9rem;
    color: #152951;
    font-weight: bold;
}
input[type=submit]{
    width: 10%;
    font-size: 0.9rem;
    border: 2px solid #2d59b9;
    background-color: #2d59b9;
    font-weight: bold;
    color: #fff;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    padding: 2rem;
    background: rgba(45, 89, 185, 0.8);
    font-family: 'Righteous', cursive, sans-serif;
    box-sizing: border-box;
    box-shadow: 0 10px 26px rgba(30, 58, 123, 0.5);
    border-radius: 12px;
    text-align: center;
    font-size: 1.2rem;
    color: #050a15;
}
.container h3{
    letter-spacing: 5px;
    margin-top: 5px;
    font-size: 24px;
}
.container ul{
    margin: 0px;
    margin-right: 1.9rem;
}
.container ul li{
    list-style-type: none;
}
#desc{
    float: left;
    text-align: left;
}
#count{
    float: left;
    text-align: left;
}
.message{
    margin-top: 8%;
    font-family: 'Pacifico', cursive, sans-serif;
    text-align: center;
}
#msg{
    font-size: 150%;
    color: #193167;
    text-shadow: 4px 4px 5px #6f90dc;
}
